body,
html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #1b1b1b;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
}

h2 {
    margin: 0 0 20px 0;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 26px;
}

h3,
h4 {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

/*--------------------*/
/* 残月博客 */
/*--------------------*/

.intro {
    margin-top: 16vh;
    width: 100%;
    padding: 0;
    text-align: center;
    color: #999;
}

.introBGround {
    /*背景图片全屏方法*/
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: url("https://bing.joker.cc/api/");
    background-size: cover;
    background-attachment: fixed;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.han {
    margin-top: 22vh;
}

.hanfooter p {
    position: absolute;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    bottom: 16px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.hana {
    text-decoration: none;
    color: rgba(100, 149, 237, 0.8);
    transition: 1s;
}

.hana:hover {
    color: #ffffff;
    text-decoration: none;
}

.intro h1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.intro p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.intro-text {
    padding-bottom: 200px;
}

hr {
    height: 1px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #666;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

.btn-default {
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(100, 149, 237, 0.8);
    border-color: rgba(100, 149, 237, 0.8);
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
    margin: 14px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #999;
    background-color: transparent;
    border-color: #777;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
